<% layout('layout/boilerplate') %>
<div class="container d-flex justify-content-center mt-5 mb-3">
    <% let source = 'https://blog.cpanel.com/wp-content/uploads/2019/08/user-01.png' %>
    <% if(employee.gender === 'male') { source = "https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png"%>
    <% }else if(employee.gender === 'female') {source = 'https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png'}%>
    <div class="card shadow" style="width: 25rem;">
        <img src=<%=source%> class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Enter details to edit</h5>
            <form action="/<%=currentUser._id%>/edit/<%=employee._id%>?_method=PUT" method="POST" class="validated-form"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Employee ID</label>
                    <input class="form-control" type="number" id="username" name="username"
                        value="<%=employee.username%>" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input class="form-control" type="text" id="firstName" name="firstName"
                        value="<%=employee.firstName%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input class="form-control" type="text" id="lastName" name="lastName" value="<%=employee.lastName%>"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mobNo">Mobile Number</label>
                    <input class="form-control" type="number" id="mobNo" name="mobNo" value="<%=employee.mobNo%>"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" value="<%=employee.email%>"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="gender">Gender</label>
                    <select class="form-select" id="gender" name="gender">
                        <% if(employee.gender == 'male') {%>
                        <option value="male" selected>Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others/Do not wish to disclose</option>
                        <% } else if(employee.gender == 'female') {%>
                        <option value="male">Male</option>
                        <option value="female" selected>Female</option>
                        <option value="others">Others/Do not wish to disclose</option>
                        <% }else {%>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others" selected>Others/Do not wish to disclose</option>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="managedby">Select Manager</label>
                    <select class="form-select" id="managedby" name="managedby">
                        <option value="0" selected>None</option>
                        <% for(employ of employees) {%>
                        <% if(employee.managedby && employ.username === employee.managedby.username) {%>
                        <option value="<%= employ._id%>" selected><%=employ.username %>, <%=employ.firstName %>
                        </option>
                        <% } else {%>
                        <option value="<%= employ._id%>"><%=employ.username %>, <%=employ.firstName %>
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3 form-check">
                    <%if(employee.isAdmin) {%>
                    <input class="form-check-input" type="checkbox" name="isAdmin" id="isAdmin" checked>
                    <% }else{ %>
                    <input class="form-check-input" type="checkbox" name="isAdmin" id="isAdmin">
                    <% } %>
                    <label class="form-check-label" for="isAdmin">Admin</label>
                </div>
                <div class="d-grid ">
                    <button class="btn btn-success btn-block">Update</button>
                </div>
            </form>
        </div>
        <a href="/directory" class="btn btn-primary">Back</a>
    </div>
</div>
</div>
</div>